@import "https://fonts.googleapis.com/css2?family=Public+Sans:wght@300&display=swap";
@import "https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;700&display=swap";


body{
    background: #2b2037;

}
.container{
    background-color: transparent;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.box {
    text-align: left;
    width: 400px;
    height: 300px;
    background: #ffffff;
    border-radius: 20px;
    position: relative;
   
    
}

#login{
    font-family: 'Public Sans';
    position: absolute;
    top: 20%;
    left: 25%;

}

#password{
    font-family: 'Public Sans';
    position: absolute;
    top: 45%;
    left: 25%
}

#logar{
    color: white;
    height: 30px;
    width: 100px;
    border-radius: 3px;
    background:#2b2c58;
    position: absolute;
    top: 70%;
    left: 9.5%
}

#registrar{
    color: white;
    height: 30px;
    width: 100px;
    border-radius: 3px;
    background:#2b2c58;
    position: absolute;
    top: 70%;
    left: 62%
}

#titulo{
    font-family: 'Public Sans';
    font-size: 30px;
    position: absolute;
    left: 37%;
    font-weight: bold;
}

#input{
    width: 300px;
    height: 40px;
    font-size: medium;
    position: relative;
    right: 20%;
    
}

.Log{
    position: relative;
    right: 20%;
}