@import 'https://fonts.googleapis.com/css2?family=Lilita+One&family=Roboto:wght@100&display=swap';
@import "https://fonts.googleapis.com/css2?family=Public+Sans:wght@300&display=swap";


.play {
    color: white;
    height: 30px;
    width: 100px;
    border-radius: 3px;
    background:#2b2c58;
    position: absolute;
    top: 65%;
    left: 35%
  }

#title{
    font-family: 'Lilita One';
    font-size: 30px;
    position: relative;
    left: 120px;
}

.sair{
    color: white;
    height: 20px;
    width: 50px;
    border-radius: 3px;
    background:#212345;
    position: absolute;
    top: 85%;
    left: 41%
}

#email{
    font-family: 'Public Sans';
    font-weight: bold;
    position: absolute;
    top: 25%;
    left: 35%

}

#pontos{
    font-family: 'Public Sans';
    font-weight: bold;
    position: absolute;
    top: 40%;
    left: 25%;
    font-size: 30px;


}